apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: plan-db
  annotations:
    argocd.argoproj.io/sync-options: Prune=false
spec:
  instances: 3

  bootstrap:
    initdb:
      database: plan
      owner: admin
      postInitApplicationSQL:
        - CREATE ROLE "user" LOGIN;
        - GRANT CREATE ON DATABASE plan TO "user";

  storage:
    storageClass: cnpg
    size: 2Gi
    resizeInUseVolumes: true
  monitoring:
    enablePodMonitor: true

  managed:
    roles:
      - name: admin
        ensure: present
        login: true
        superuser: true
        passwordSecret:
          name: plan-db-admin
      - name: user
        ensure: present
        login: true
        passwordSecret:
          name: plan-db-user
