apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: plan-db
spec:
  instances: 3

  bootstrap:
    initdb:
      database: plan
      owner: admin
      postInitApplicationSQL:
        - GRANT CREATE ON DATABASE plan TO "user";

   storage:
     size: 1Gi
     resizeInUseVolumes: true
  monitoring:
    enablePodMonitor: true

  managed:
    roles:
    - name: admin
      ensure: present
      login: true
      superuser: true
      passwordSecret:
        name: plan-db-admin
    - name: user
      ensure: present
      login: true
      passwordSecret:
        name: plan-db-user
