apiVersion: apps/v1
kind: Deployment
metadata:
  name: plan-app
spec:
  selector:
    matchLabels:
      app: plan-app
  template:
    spec:
      imagePullSecrets:
        - name: ghcr-secret
      containers:
        - name: plan-app
          image: ghcr.io/simonbrundin/plan
          ports:
            - containerPort: 3000
          resources:
            requests:
              memory: "128Mi" # Konservativa defaults
              cpu: "100m"
            limits:
              memory: "512Mi"
              cpu: "500m"
