apiVersion: apps/v1
kind: Deployment
metadata:
  name: plan-app
spec:
  selector:
    matchLabels:
      app: plan-app
  template:
    metadata:
      labels:
        app: plan-app
    spec:
      imagePullSecrets:
        - name: ghcr-secret
      containers:
        - name: plan-app
          image: ghcr.io/simonbrundin/plan
          ports:
            - containerPort: 3000
           readinessProbe:
             httpGet:
               path: /
               port: 3000
             initialDelaySeconds: 10
             periodSeconds: 10
             timeoutSeconds: 10
           livenessProbe:
             httpGet:
               path: /
               port: 3000
             initialDelaySeconds: 30
             periodSeconds: 20
             timeoutSeconds: 10
          resources:
            requests:
              memory: "512Mi"
              cpu: "500m"
            limits:
              memory: "2Gi"
              cpu: "1000m"
          env:
            - name: NODE_ENV
              value: "production"
            - name: HOST
              value: "0.0.0.0"
            - name: NUXT_PUBLIC_GQL_HOST
              value: "https://plan-hasura.simonbrundin.com/v1/graphql"
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: plan-db-user
                  key: uri
            - name: NUXT_SESSION_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: auth
                  key: NUXT_SESSION_PASSWORD
            - name: NUXT_OAUTH_AUTHENTIK_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: auth
                  key: NUXT_OAUTH_AUTHENTIK_CLIENT_ID
            - name: NUXT_OAUTH_AUTHENTIK_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: auth
                  key: NUXT_OAUTH_AUTHENTIK_CLIENT_SECRET
            - name: NUXT_OAUTH_AUTHENTIK_DOMAIN
              valueFrom:
                secretKeyRef:
                  name: auth
                  key: NUXT_OAUTH_AUTHENTIK_DOMAIN
            - name: NUXT_OAUTH_AUTHENTIK_REDIRECT_URL
              valueFrom:
                secretKeyRef:
                  name: auth
                  key: NUXT_OAUTH_AUTHENTIK_REDIRECT_URL
